
// Run Params
params.n_threads = 2
params.run_dir = "/home/noam/projects/single-cell/pipseq_nextflow"
params.outdir = "results"

// Data Params
params.data_dir = "${params.run_dir}/data"
params.pipspeak_yaml = "${params.data_dir}/config_v3.yaml"
params.sequence_dir = "${params.data_dir}/sequences"
params.reads = "${params.sequence_dir}/*_R{1,2}*.fastq.gz"

// Conda Params
params.conda_dir = "${params.run_dir}/envs"
params.scanpy_env = "${params.conda_dir}/scanpy.yaml"
conda.enabled = true

// Kallisto Parameters
params.index_dir = "${params.run_dir}/data/index"
params.kallisto_index = "${params.index_dir}/transcriptome.idx"
params.t2g = "${params.index_dir}/t2g.txt"
params.pipseq_tech = "0,0,28:0,28,40:1,0,0"

